<mat-toolbar class="news-toolbar">
  <span class="brand">DAILY<span class="highlight">NEWS</span></span>
  <div class="right-bar">
    <div class="search-container" *ngIf="currentRoute.startsWith('/home') || currentRoute.startsWith('/bookmarks')">
      <input class="search-box" type="text" placeholder="Search news..." [(ngModel)]="searchText"
        (input)="onSearchInput()" />
      <button *ngIf="searchText" class="clear-btn" (click)="clearSearch()">✖</button>
    </div>
    <nav class="nav-links">
      <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
      <button mat-button [matMenuTriggerFor]="categoriesMenu" routerLinkActive="active-link" [disabled]="currentRoute !== '/home'" matTooltip="Categories only available on Home page">Categories</button>
      <a mat-button routerLink="/bookmarks" routerLinkActive="active-link">Bookmarks</a>
      <mat-menu #categoriesMenu="matMenu" class="menu-category">
        <button mat-menu-item (click)="selectCategory('business')">Business</button>
        <button mat-menu-item (click)="selectCategory('entertainment')">Entertainment</button>
        <button mat-menu-item (click)="selectCategory('general')">General</button>
        <button mat-menu-item (click)="selectCategory('health')">Health</button>
        <button mat-menu-item (click)="selectCategory('science')">Science</button>
        <button mat-menu-item (click)="selectCategory('sports')">Sports</button>
        <button mat-menu-item (click)="selectCategory('technology')">Technology</button>
      </mat-menu>
      <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle Dark Mode">
        <mat-icon> {{ isDark ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </nav>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

